node_modules
**/node_modules
dist
**/dist
build
**/build
.turbo
**/.turbo
coverage
**/coverage
.git
.github
.vscode
.idea
*.log
.env
.env.*
!.env.example
ERP-PLANNING
infrastructure
docker-compose.yml
